<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>Editing Book</h1>
      <%= form_with model: @book, url: book_path do |f| %>
        <div class="form-group">
          <%= f.label :title %><br />
          <%= f.text_field :title, autofocus: true, class:"form-control", autocomplete: "title" %>
        </div>
        <div class="form-group">
          <%= f.label :opinion %><br />
          <%= f.text_area :body, class:"form-control", autocomplete: "body" %>
        </div>
        <div class="form-group">
          <%= f.submit "Update Book", class:"btn btn-success" %>
        </div>
      <% end %>
      <%= link_to "Show", book_path %>
      |
      <%= link_to "Back", "/books" %>
    </div>
  </div>
</div>