<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/9fcdeca566.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand"  href="/">
            <span>Bookers</span>
          </a>
          <div class="collapse navbar-collapse" id"=navbarNavDropDown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to @user_path, class:"nav-link text-light" do %>
                    <span><i class="fa-solid fa-house"></i></span>
                    Home
                  <% end %>
                </li>
                <li>
                  <%= link_to users_path, class:"nav-link text-light" do %>
                    <span><i class="fa-solid fa-users"></i></span>
                    Users
                  <% end %>
                </li>
                <li>
                  <%= link_to books_path, class:"nav-link text-light" do %>
                    <span><i class="fa-solid fa-book-open"></i></span>
                    Books
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, class:"nav-link text-light", method: :delete do %>
                    <span><i class="fa-solid fa-right-from-bracket"></i></span>
                    Log out
                  <% end %>
                </li>
              <% else %>
                <li>
                  <%= link_to root_path, class:"nav-link text-light" do %>
                    <span><i class="fa-solid fa-house"></i></span>
                    Home
                  <% end %>
                </li>
                <li>
                  <%= link_to "/about", class:"nav-link text-light" do %>
                    <span><i class="fa-solid fa-link"></i></span>
                    About
                  <% end %>
                </li>
                <li>
                  <%= link_to "/users/sign_up", class:"nav-link text-light" do %>
                    <span><i class="fa-solid fa-user-plus"></i></span>
                    Sign up
                  <% end %>
                </li>
                <li>
                  <%= link_to "/users/sign_in", class:"nav-link text-light" do %>
                    <span><i class="fa-solid fa-right-to-bracket"></i></span>
                    Log in
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="mb-auto">
      <%= yield %>
    </main>
    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
